/* style sheet for room.ejs  */

body {
	margin: 0;
	padding: 0;
}

.main {
	height: 100vh;
	display: flex;
}

.main__left {
	background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
	background-size: cover;
	flex: 0.8;
	display: flex;
	flex-direction: column;
	background-size: 100% 100%;
}

.main__right {
	flex: 0.2;
}

.main__videos {
	align-items: center;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

#video-grid {
	display: flex;
	justify-content: center;
}

video {
	padding: 2px;
	background-color: black;
	border: 4px outset #0d9db9;
	height: 300px;
	width: 400px;
	object-fit: cover;
}

.main__controls {
	display: flex;
	background-color: #091830;
	color: whitesmoke;
	padding: 5px;
	justify-content: space-between;
}

.main__controls__block {
	display: flex;
	justify-content: center;
}

.main__controls__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	min-width: 80px;
	cursor: pointer;
	color: white;
	font-family: cursive;

	margin: 10px 2px;
}

.main__controls__button i {
	font-size: 24px;
}

.main__controls__button:hover {
	background-color: white;
	color: black;
	border: 4px rgb(38, 139, 255) solid;
	border-radius: 10px;
}

.leave_meeting {
	color: rgb(238, 53, 53);
	font-style: cursive;
}

.main__right {
	display: flex;
	background-color: darkslategray;
	flex-direction: column;
	border-left: 1px solid;
}

.main__header {
	background: bisque;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: cursive;
}

.main__chat_window {
	flex-grow: 1;
	overflow-y: scroll;
}

.main__message_container {
	display: flex;
	padding: 22px 12px;
}

.main__message_container input {
	color: black;
	border: none;
	border-radius: 7px;
	padding: 5px 3px;
	flex-grow: 1;
	background-color: bisque;
}

.messages {
	color: white;
	list-style: none;
	font-size: 18px;
	padding: 7px;
}

ul.messages li {
	background: rgb(5, 129, 129);
	border-radius: 10px;
	margin: 6px;
	overflow-wrap: anywhere;
}

.main__chat_window::-webkit-scrollbar {
	width: 1em;
}

.main__chat_window::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main__chat_window::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
